:root {
  --likelion-color: #ffcc33;
  --react-color: #5fd3f2;
  --status-color: #eaeaea;
}

body {
  margin: 0px;
  background-color: #1c1c1c;
  /* background-color: #000000;
  background-image: linear-gradient(147deg, #000000 0%, #434343 74%); */
  /* background-color: #130f40;
  background-image: linear-gradient(315deg, #130f40 0%, #000000 74%); */
  height: 100vh;
}
.status {
  display: flex;
  justify-content: space-between;
}

.status__item {
  margin: 5px;
}

.status__item > span {
  font-family: "Open Sans", sans-serif;
  color: #eaeaea;
}

.status__item > .fa-react,
.status__item:nth-child(2) > .fa-clock {
  animation: rotate_icon360 0.1s infinite;
  transform-origin: 50% 50%;
}

.fa-html5,
.fa-js-square,
.fa-css3-alt,
.fa-react,
.fa-angular,
.fa-vuejs,
.fa-sass {
  animation: width_icon 2s infinite;
}

@keyframes rotate_icon360 {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotate_icon180 {
  100% {
    transform: rotate(180deg);
  }
}

@keyframes width_icon {
  0% {
    width: 0px;
  }
  100% {
    width: 30px;
  }
}

.welcome {
  border-width: 1px;
  border-style: solid;
  border-image: linear-gradient(to bottom, var(--likelion-color), #eaeaea);
  border-image-slice: 1;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 40px;
}

/* .welcome__banner {
  text-shadow: 5px 5px 3px #5fd3f2;
} */

.fa-angular {
  text-shadow: 5px 5px 3px #eaeaea;
}

.fa-vuejs {
  text-shadow: 5px 5px 3px #eaeaea;
}

.welcome__banner > .fa-react {
  text-shadow: 5px 5px 3px #eaeaea;
}

.fa-js-square {
  text-shadow: 5px 5px 3px #eaeaea;
}

.fa-sass {
  text-shadow: 5px 5px 3px #eaeaea;
}

.fa-css3-alt {
  text-shadow: 5px 5px 3px #eaeaea;
}

.fa-html5 {
  text-shadow: 5px 5px 3px #eaeaea;
}

.welcome__banner--title {
  color: #eaeaea;
  text-shadow: 1px 1px 15px var(--likelion-color);
}

.welcome__title,
.welcome__text,
.welcome__text--final,
.login__btn,
.link {
  font-family: "Poor Story", cursive;
}

.welcome__title {
  color: #eaeaea;
}

.welcome__text {
  font-size: 20px;
  color: #eaeaea;
}

.welcome__text::selection,
.welcome__title::selection,
.welcome__text--final::selection {
  background-color: #eaeaea;
  color: black;
}

.welcome__banner {
  display: flex;
  justify-content: center;
}

.welcome__banner > i + h1 {
  display: inline-block;
}

.welcome__banner > i {
  margin-top: 40px;
  margin-right: 10px;
  font-size: 32px;
}

.welcome__title {
  text-align: center;
}

.welcome__text,
.welcome__text--final {
  text-align: center;
}

.welcome__text--final {
  font-size: 20px;
  font-weight: 900;
  color: #eaeaea;
}

.login {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  border-radius: 15px;
}

.login__id {
  margin-top: 2px;
  margin-left: 25px;
  margin-right: 25px;
  font-size: 30px;
  border: none;
  outline: none;
  color: #eaeaea;
  font-size: 30px;
  height: 30px;
  background: black;
  border-radius: 10px;
  padding: 12px;
  text-align: center;
  box-shadow: 0 0 25px #eaeaea, 0 0 2px #eaeaea, 0 0 3px #eaeaea,
    0 0 4px #eaeaea;
}

/* .login__id:focus,
.login__pw:focus {
  border-color: #EAEAEAsmoke;
} */

.login__id::placeholder,
.login__pw::placeholder {
  color: #eaeaea;
}

.login__pw {
  margin-top: 8px;
  margin-left: 25px;
  margin-right: 25px;
  font-size: 30px;
  border: none;
  outline: none;
  color: #eaeaea;
  font-size: 30px;
  height: 30px;
  background: black;
  border-radius: 10px;
  padding: 12px;
  text-align: center;
  box-shadow: 0 0 25px #eaeaea, 0 0 2px #eaeaea, 0 0 3px #eaeaea,
    0 0 4px #eaeaea;
}

h1 {
  margin-bottom: 10px;
}
p {
  line-height: 24px;
}

h1 {
  margin-bottom: 10px;
}
p {
  line-height: 24px;
}

.login a:hover {
  background: #eaeaea;
  color: var(--likelion-color);
  border-radius: 50px;
  box-shadow: 0 0 5px #eaeaea, 0 0 25px #eaeaea, 0 0 50px #eaeaea,
    0 0 100px #eaeaea;
}

.login a span {
  position: absolute;
  display: block;
}

.login a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #eaeaea);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}

.login a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #eaeaea);
  animation: btn-anim2 1s linear infinite;
  animation-delay: 0.25s;
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}

.login a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #eaeaea);
  animation: btn-anim3 1s linear infinite;
  animation-delay: 0.5s;
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
  }
}

.login a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #eaeaea);
  animation: btn-anim4 1s linear infinite;
  animation-delay: 0.75s;
}

@keyframes btn-anim4 {
  0% {
    bottom: -150%;
  }
  50%,
  100% {
    bottom: 100%;
  }
}

.login > a {
  margin-top: 30px;
  text-align: center;
  height: 60px;
  margin-left: 25px;
  margin-right: 25px;
  border-radius: 10px;
  border: 0px;
  font-size: 30px;
  display: inline-block;
  position: relative;
  padding-top: 20px;
  color: #eaeaea;
  font-size: 30px;
  text-transform: uppercase;
  text-decoration: none;
  transition: 0.5s;
  letter-spacing: 4px;
  overflow: hidden;
  font-weight: 900;
}

.login > a:focus {
  border-color: #eaeaea;
}

#mobile {
  position: absolute;
  z-index: 99;
  height: 100vh;
  width: 100vw;
  background-color: #ffcfdf;
  background-image: linear-gradient(315deg, #ffcfdf 0%, #b0f3f1 74%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  font-weight: 900;
  top: 0;
}

@media screen and (max-width: 645px) {
  #mobile {
    display: none;
  }
}

/* 프로필 */

/* navbar */
.navbar {
  display: flex;
  justify-content: center;
}

.navbar a:hover {
  background: #eaeaea;
  color: var(--likelion-color);
  border-radius: 50%;
  box-shadow: 0 0 5px #eaeaea, 0 0 25px #eaeaea, 0 0 50px #eaeaea,
    0 0 100px #eaeaea;
}

.navbar a span {
  position: absolute;
  display: block;
}

.navbar > a {
  margin-top: 30px;
  text-align: center;
  width: 50%;
  height: 60px;
  margin-left: 25px;
  margin-right: 25px;
  border-radius: 10px;
  border: 0px;
  font-size: 30px;
  display: inline-block;
  position: relative;
  padding-top: 20px;
  color: #eaeaea;
  font-size: 30px;
  text-decoration: none;
  transition: 0.5s;
  letter-spacing: 4px;
  overflow: hidden;
  font-weight: 900;
  padding-left: 110px;
  padding-right: 110px;
}

.navbar > a:focus {
  border-color: #eaeaea;
}

.navbar a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #eaeaea);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}

.navbar a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #eaeaea);
  animation: btn-anim2 1s linear infinite;
  animation-delay: 0.25s;
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}

.navbar a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #eaeaea);
  animation: btn-anim3 1s linear infinite;
  animation-delay: 0.5s;
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
  }
}

.navbar a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #eaeaea);
  animation: btn-anim4 1s linear infinite;
  animation-delay: 0.75s;
}

/* profile */
.profile {
  border-width: 1px;
  border-style: solid;
  border-image: linear-gradient(to bottom, #eaeaea, var(--likelion-color));
  border-image-slice: 1;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 0px;
  height: 850px;
}

.profile__my {
  display: flex;
}

.profile__photo img {
  width: 100px;
  height: 100px;
  border-radius: 45%;
  padding: 20px;
  display: flex;
}

.profile__description {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile__description span:nth-child(1) {
  font-weight: 600;
  font-size: 20px;
  color: #eaeaea;
}

.profile__description span:nth-child(2) {
  font-weight: 600;
  font-size: 15px;
  color: #eaeaea;
}

hr {
  margin-top: 0px;
  border: none;
  height: 1px;
  width: 92%;
  background-color: #666666;
}

.hotlist__title {
  display: flex;
  justify-content: space-between;
}

.hotlist__title span {
  color: var(--likelion-color);
  font-weight: 500;
  margin: 15px 20px;
  font-size: 16px;
  /* letter-spacing: 1px; */
}

.fa-chevron-up {
  margin: 10px 20px;
}

.hotlist__human {
  display: flex;
  margin-top: -15px;
}

.hotlist__photo img {
  width: 50px;
  height: 50px;
  border-radius: 45%;
  padding: 20px;
  display: flex;
}

.hotlist__description {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hotlist__description span:nth-child(1) {
  font-weight: 600;
  font-size: 20px;
  color: #eaeaea;
}

.hotlist__description span:nth-child(2) {
  font-weight: 600;
  font-size: 15px;
  color: #eaeaea;
}

#html {
  filter: invert(54%) sepia(68%) saturate(5867%) hue-rotate(347deg)
    brightness(93%) contrast(92%);
}

#css {
  filter: invert(35%) sepia(100%) saturate(5437%) hue-rotate(227deg)
    brightness(89%) contrast(95%);
}

#javascript {
  filter: invert(97%) sepia(86%) saturate(6061%) hue-rotate(340deg)
    brightness(96%) contrast(94%);
}

#react {
  filter: invert(73%) sepia(69%) saturate(530%) hue-rotate(160deg)
    brightness(99%) contrast(92%);
}

#db {
  filter: invert(52%) sepia(56%) saturate(568%) hue-rotate(78deg)
    brightness(90%) contrast(89%);
}

#server {
  filter: invert(70%) sepia(35%) saturate(899%) hue-rotate(42deg)
    brightness(92%) contrast(90%);
}

.profile__border--final {
  margin-top: 0px;
  border: none;
  height: 1px;
  width: 100%;
  background-color: #666666;
}

#html,
#css,
#javascript,
#react,
#server,
#db,
.hotlist__anileft {
  animation: rotate_icon360 1.5s infinite;
  transform-origin: 50% 50%;
}

/* .hotlist__anileft {
  animation: rotate_icon180 3s infinite;
  transform-origin: 50% 50%;
} */

.fa-user {
  font-size: 35px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 55px;
  color: var(--status-color);
}

.fa-comment {
  font-size: 35px;
  margin-left: 45px;
  color: black;
}

.fa-comment:hover {
  background: var(--likelion-color);
  color: var(--likelion-color);
  border-radius: 50%;
  box-shadow: 0 0 1px var(--likelion-color), 0 0 10px var(--likelion-color),
    0 0 25px var(--likelion-color), 0 0 100px var(--likelion-color);
}

.footer__item {
  display: flex;
  align-items: center;
}

.footer__text {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 27px;
  font-size: 13px;
  color: var(--status-color);
  width: 100vh;
  margin-top: -5px;
}

.footer__message {
  border-radius: 15px;
  padding: 2px 12px;
  font-size: 13px;
  background-color: red;
  font-weight: 800;
  color: whitesmoke;
  position: relative;
  right: 20px;
  bottom: 10px;
  text-decoration: none;
  animation: messageAnimation 2s ease-in-out infinite;
}

@keyframes messageAnimation {
  0% {
    transform: none;
  }
  50% {
    transform: translateY(-15px) rotateY(360deg);
  }
  100% {
    transform: none;
  }
}

@keyframes hideSplash {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

.splash {
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: yellow;
  font-size: 50px;
  animation: hideSplash 3.5s ease-in-out forwards;
}

.splash img {
  width: 400px;
}
