body {
  margin: 0px;
  background-color: #130f40;
  background-image: linear-gradient(315deg, #130f40 0%, #000000 74%);
  height: 100vh;
}
.status {
  display: flex;
  justify-content: space-between;
}

.status__item {
  margin: 5px;
}

.status__item > span {
  font-family: "Open Sans", sans-serif;
  color: whitesmoke;
}

.status__item > .fa-react,
.status__item:nth-child(2) > .fa-clock {
  animation: rotate_icon360 0.1s infinite;
  transform-origin: 50% 50%;
}

.fa-html5,
.fa-js-square,
.fa-css3-alt,
.fa-react,
.fa-angular,
.fa-vuejs,
.fa-sass {
  animation: width_icon 2s infinite;
}

@keyframes rotate_icon360 {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes width_icon {
  0% {
    width: 0px;
  }
  100% {
    width: 30px;
  }
}

.welcome {
  border-width: 1px;
  border-style: solid;
  border-image: linear-gradient(to bottom, whitesmoke, #5fd3f2);
  border-image-slice: 1;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 40px;
}

/* .welcome__banner {
  text-shadow: 5px 5px 3px #5fd3f2;
} */

.fa-angular {
  text-shadow: 5px 5px 3px white;
}

.fa-vuejs {
  text-shadow: 5px 5px 3px white;
}

.welcome__banner > .fa-react {
  text-shadow: 5px 5px 3px white;
}

.fa-js-square {
  text-shadow: 5px 5px 3px yellow;
}

.fa-sass {
  text-shadow: 5px 5px 3px white;
}

.fa-css3-alt {
  text-shadow: 5px 5px 3px #2762e9;
}

.fa-html5 {
  text-shadow: 5px 5px 3px #f16529;
}

.welcome__banner--title {
  color: white;
  text-shadow: 1px 1px 15px #5fd3f2;
}

.welcome__title,
.welcome__text,
.welcome__text--final,
.login__btn,
.link {
  font-family: "Poor Story", cursive;
}

.welcome__title {
  color: white;
}

.welcome__text {
  font-size: 20px;
  color: white;
}

.welcome__text::selection,
.welcome__title::selection,
.welcome__text--final::selection {
  background-color: whitesmoke;
  color: black;
}

.welcome__banner {
  display: flex;
  justify-content: center;
}

.welcome__banner > i + h1 {
  display: inline-block;
}

.welcome__banner > i {
  margin-top: 40px;
  margin-right: 10px;
  font-size: 32px;
}

.welcome__title {
  text-align: center;
}

.welcome__text,
.welcome__text--final {
  text-align: center;
}

.welcome__text--final {
  font-size: 20px;
  font-weight: 900;
  color: white;
}

.login {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  border-radius: 15px;
}

.login__id {
  margin-top: 30px;
  margin-left: 25px;
  margin-right: 25px;
  font-size: 30px;
  border-bottom-color: #5fd3f2;
  border-bottom-width: 1px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  outline: none;
  color: white;
  font-size: 30px;
  height: 30px;
  background: none;
}

.login__id:focus,
.login__pw:focus {
  border-color: whitesmoke;
}

.login__id::placeholder,
.login__pw::placeholder {
  color: white;
}

.login__pw {
  margin: 25px;
  font-size: 30px;
  font-size: 30px;
  border-bottom-color: #5fd3f2;
  border-bottom-width: 1px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  outline: none;
  color: white;
  font-size: 30px;
  height: 30px;
  background: none;
}

.login > a {
  text-align: center;
  height: 60px;
  margin-left: 25px;
  margin-right: 25px;
  border-radius: 6px;
  border: 0px;
  font-size: 30px;
}

h1 {
  margin-bottom: 10px;
}
p {
  line-height: 24px;
}

h1 {
  margin-bottom: 10px;
}
p {
  line-height: 24px;
}

.login a:hover {
  background: #5fd3f2;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #5fd3f2, 0 0 25px #5fd3f2, 0 0 50px #5fd3f2,
    0 0 100px #5fd3f2;
}

.login a span {
  position: absolute;
  display: block;
}

.login a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #5fd3f2);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}

.login a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #5fd3f2);
  animation: btn-anim2 1s linear infinite;
  animation-delay: 0.25s;
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}

.login a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #5fd3f2);
  animation: btn-anim3 1s linear infinite;
  animation-delay: 0.5s;
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
  }
}

.login a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #5fd3f2);
  animation: btn-anim4 1s linear infinite;
  animation-delay: 0.75s;
}

@keyframes btn-anim4 {
  0% {
    bottom: -150%;
  }
  50%,
  100% {
    bottom: 100%;
  }
}

.login > a {
  display: inline-block;
  position: relative;
  padding-top: 28px;
  color: #ff9700;
  font-size: 30px;
  text-transform: uppercase;
  text-decoration: none;
  transition: 0.5s;
  letter-spacing: 4px;
  overflow: hidden;
  font-weight: 900;
}

.login > a:focus {
  border-color: whitesmoke;
}

#mobile {
  position: absolute;
  z-index: 99;
  height: 100vh;
  width: 100vw;
  background-color: #ffcfdf;
  background-image: linear-gradient(315deg, #ffcfdf 0%, #b0f3f1 74%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  font-weight: 900;
  top: 0;
}

@media screen and (max-width: 645px) {
  #mobile {
    display: none;
  }
}
